<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>MISERY</string>
	<string>ANNA</string>
	<string>CHAINS</string>
	<string>BOYS</string>
	<string>HELP</string>
	<string>YESTERDAY</string>
	<string>GIRL</string>
	<string>WAIT</string>
	<string>TAXMAN</string>
	<string>FLYING</string>
	<string>BLACKBIRD</string>
	<string>PIGGIES</string>
</array>
</plist>
